body {
  font-family: sans-serif;
  background-color: white;
}

h1 {
  color: brown;
}

p {
  font-style: oblique;
}
ol, ul {
  line-height: 30px;
}
.danger {
  font-style: italic;
}

.dark-theme {
  background-color: black;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}
